.profile {
    height: 100vh;
    color: white;
}

.body-profile {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
}

.body-profile > h1 {
    margin-top: 20px;
    font-size: 55px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.info-profile {
    display: flex;
}

.info-profile > img {
    height: 117px;
}

.profile-details {
    margin-left: 25px;
    color: white;
    flex: 1;
}

.profile-details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}


.profile-btn {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}